@model Project_MVC.Models.User

@{
    ViewData["Title"] = "共識 - 會員明細";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserGender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCreateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
