@model Project_MVC.Models.UserTeacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserTeacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIntro1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIntro1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIntro2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIntro2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserBgimage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserBgimage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeacherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
